body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

h1 {
  justify-content: end;
  font-size: 72px;
  background: -webkit-linear-gradient(#eee,#4b2289);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  justify-content: space-around;
}

[class*="col-"] {
  width: 100%;

}
/* 
.img-thumbnail {
  border: 1px solid #ddd; /* Gray border */
  /* border-radius: 4px;  /* Rounded border */
  /* padding: 5px; /* Some padding */
  /* width: 150px; /* Set a small width */
/* } */ 

h3,
.container-sidebar {
  font-size: 20px;  
  background: -webkit-linear-gradient(#eee,#4b2289);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  float: right;
}

/* .container-contact {
  float: right;
} */